<%- include('./layout/header.ejs') -%>
    <header>
        <%- include('./comp/nav.ejs') -%>
    </header>
    <main class="uk-container py-3">
        <div class="row">
            <div class="col-md-3">
                <%- include('./comp/widget-left.ejs') -%>
            </div>
            <div class="col-md-6">
                <div class="bg-white p-3">
                    <ul class="uk-breadcrumb">
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        <li>
                            <span>Tin Tức</span>
                        </li>
                    </ul>
                    <h5 class="my-0 py-3 border-bottom border-muted txt-neteller text-uppercase">
                        Đức: các sàn giao dịch tiền điện tử trong nước phải tuân thủ các quy định chống rửa tiền (AML) </h5>
                    <div class="pt-3 news-detail">
                        <p>
                            <img data-attachment-id="23675" data-permalink="https://blogtienao.com/duc-cac-san-giao-dich-tien-dien-tu-trong-nuoc-phai-tuan-thu-cac-quy-dinh-chong-rua-tien-aml/germany-bitcoin-cryptocurrency/"
                                data-orig-file="https://i2.wp.com/blogtienao.com/wp-content/uploads/2018/06/germany-bitcoin-cryptocurrency.jpg?fit=1000%2C667&amp;ssl=1"
                                data-orig-size="1000,667" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
                                data-image-title="germany-bitcoin-cryptocurrency" data-image-description="" data-medium-file="https://i2.wp.com/blogtienao.com/wp-content/uploads/2018/06/germany-bitcoin-cryptocurrency.jpg?fit=1000%2C667&amp;ssl=1"
                                data-large-file="https://i2.wp.com/blogtienao.com/wp-content/uploads/2018/06/germany-bitcoin-cryptocurrency.jpg?fit=1000%2C667&amp;ssl=1"
                                class="alignnone size-full wp-image-23675 td-animation-stack-type0-2" src="https://i2.wp.com/blogtienao.com/wp-content/uploads/2018/06/germany-bitcoin-cryptocurrency.jpg?resize=696%2C464&amp;ssl=1"
                                alt="" width="696" height="464" srcset="https://i2.wp.com/blogtienao.com/wp-content/uploads/2018/06/germany-bitcoin-cryptocurrency.jpg?w=1000&amp;ssl=1 1000w, https://i2.wp.com/blogtienao.com/wp-content/uploads/2018/06/germany-bitcoin-cryptocurrency.jpg?resize=696%2C464&amp;ssl=1 696w, https://i2.wp.com/blogtienao.com/wp-content/uploads/2018/06/germany-bitcoin-cryptocurrency.jpg?resize=630%2C420&amp;ssl=1 630w"
                                sizes="(max-width: 696px) 100vw, 696px">
                        </p>
                        <p>Đại diện của&nbsp;Chính phủ Liên bang Đức&nbsp;đã tuyên bố rằng tiền điện tử không đe dọa đến sự
                            ổn định tài chính.&nbsp;Tuy nhiên, Chính phủ Đức cũng thấy rằng cần phải có biện pháp quản lý
                            để kiểm soát chặt chẽ hơn đối với tiền mã hóa.</p>
                        <p>
                            <span class="notranslate">Theo Chính phủ Liên bang, hiện tại khối lượng giao dịch tiền mã hóa toàn cầu quá thấp so với
                                quy mô của hệ thống tài chính toàn cầu, vì vậy tiền điện tử không phải là mối đe dọa nghiêm
                                trọng cho hệ thống tài chính hiện tại.&nbsp;</span>
                            <span class="notranslate">Tuy nhiên, Chính phủ Đức cho rằng tiền mã hóa cần phải có sự giám sát chặt chẽ từ các diễn biến
                                trong lĩnh vực này ở
                                <a href="https://blogtienao.com/hoi-nghi-g20-ket-thuc-ma-khong-co-bat-ky-quy-dinh-dieu-chinh-nao-ve-tien-dien-tu/"
                                    target="_blank" rel="noopener">hội nghị G20</a>.</span>
                        </p>
                        <p>Chính phủ Đức cũng đã đề cập một số vấn đề quan trọng liên quan đến tiền mã hóa, trong đó bao gồm
                            <a href="https://blogtienao.com/kyc-aml-la-gi/" target="_blank" rel="noopener">chống rửa tiền (AML)</a>,&nbsp;thu nhập bất hợp pháp từ tiền điện tử, sử dụng tiền điện tử trong
                            cờ bạc trực tuyến và tài trợ khủng bố:</p>
                        <p>“Để giải quyết các vấn đề rủi ro của tiền điện tử. Chính phủ Đức cũng đã ban hành một số quy định
                            cho tiền điện tử, ví dụ các sàn giao dịch tiền mã hóa ở Đức phải tuân thủ nghiêm túc các quy
                            định về chống rửa tiền (AML) và xác minh danh tính (KYC),&nbsp;tương tự như các nhà cung cấp
                            dịch vụ tài chính khác”</p>
                        <p>Chính phủ Liên bang cũng lưu ý, các hoạt động giao dịch tiền điện tử cần phải có sự cấp phép từ&nbsp;Cơ
                            quan Giám sát Tài chính Liên bang (BAFin).</p>
                        <p>Chính phủ Đức cũng nhấn mạnh rằng, các nước trên thế giới cần phải phối hợp chung với nhau trong
                            việc quản lý tiền mã hóa.</p>
                        <p>Vào hồi cuối tháng 5 vừa qua,&nbsp;các công tố viên ở bang Bavaria, liên bang
                            <a href="https://blogtienao.com/duc-ban-dau-gia-so-luong-lon-tien-ma-hoa-tich-thu-duoc-tu-hoat-dong-pham-phap/"
                                target="_blank" rel="noopener">Đức đã bán đấu giá số lượng lớn tiền điện tử</a> tịch thu được từ các hoạt động phạm pháp, với
                            trị giá khoảng 12 triệu euro (13,9 triệu đô la), mức bán cao nhất trong lịch sử pháp lý của Đức.</p>
                        <blockquote class="td_quote_box td_box_center">
                            <p style="text-align: right;">Theo Cointelegraph
                            </p>
                        </blockquote>
                                <hr>
                                
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <%- include('./comp/widget-right.ejs') -%>
            </div>
        </div>
    </main>
    <%- include('./layout/footer.ejs') -%>