<%- include('./layout/header.ejs') -%>
    <header>
        <%- include('./comp/nav.ejs') -%>
    </header>
    <main class="uk-container py-3">
        <div class="row">
            <div class="col-md-3">
                <%- include('./comp/widget-left.ejs') -%>
            </div>
            <div class="col-md-6">
                <div class="bg-white p-3">
                    <ul class="uk-breadcrumb">
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        <li>
                            <span>Lịch Sử</span>
                        </li>
                    </ul>
                    <h5 class="my-0 py-3 align-items-center border-bottom border-muted">
                        <i uk-icon="icon: list; ratio: 1.5"></i>
                        <span class="uk-text-large">Kiểm tra giao dịch</span>
                    </h5>
                    <div class="w-100 uk-overflow-auto">
                        <table class="table table-hover uk-text-small">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Money</th>
                                    <th class="text-right">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#">1A5B70B2909D417</a>
                                    </td>
                                    <td class="text-success text-center">mua Nettler</td>
                                    <td class="text-center">32/6/2018</td>
                                    <td class="text-center">$5</td>
                                    <td class="text-right">
                                        <span class="badge badge-warning">Đang xử lý</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">1A5B70B2909D417</a>
                                    </td>
                                    <td class="text-success text-center">mua Skrill</td>
                                    <td class="text-center">32/6/2018</td>
                                    <td class="text-center">$5</td>
                                    <td class="text-right">
                                        <span class="badge badge-success">Thành công</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">1A5B70B2909D417</a>
                                    </td>
                                    <td class="text-danger text-center">Bán Skril</td>
                                    <td class="text-center">32/6/2018</td>
                                    <td class="text-center">$5</td>
                                    <td class="text-right">
                                        <span class="badge badge-danger">Thất bại</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">1A5B70B2909D417</a>
                                    </td>
                                    <td class="text-danger text-center">Bán Neteller</td>
                                    <td class="text-center">32/6/2018</td>
                                    <td class="text-center">$5</td>
                                    <td class="text-right">
                                        <span class="badge badge-dark">Hoàn trả</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-block py-3">
                        <ul class="uk-pagination uk-flex-center" uk-margin>
                            <li>
                                <a href="#">
                                    <span uk-pagination-previous></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="uk-disabled">
                                <span>...</span>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">6</a>
                            </li>
                            <li class="uk-active">
                                <span>7</span>
                            </li>
                            <li>
                                <a href="#">8</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span uk-pagination-next></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <%- include('./comp/widget-right.ejs') -%>
            </div>
        </div>
    </main>
    <%- include('./layout/footer.ejs') -%>