<%- include('./layout/header.ejs') -%>
    <header>
        <%- include('./comp/nav.ejs') -%>
    </header>
    <main class="uk-container py-3">
        <div class="row">
            <div class="col-md-3">
                <%- include('./comp/widget-left.ejs') -%>
            </div>
            <div class="col-md-6">
                <div class="bg-white p-3">
                    <h5 class="my-0 py-3 mb-3 border-bottom border-muted txt-neteller text-uppercase">
                        <i uk-icon="icon: sign-in; ratio: 1.5"></i>
                        <span>Đăng nhập</span>
                    </h5>
                    <form action="">
                            <div class="form-group">
                                <label class="uk-form-label" for="username">Tên đăng nhập</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="username" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="uk-form-label" for="password">Mật khẩu</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" id="password" type="password">
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-dark btn-lg px-4">Đăng nhập</button>
                                <div class="row mt-3">
                                    <div class="col-md-6 text-md-left text-center">
                                        <a href="/register.html">Bạn chưa có tài khoản</a>
                                    </div>
                                    <div class="col-md-6 text-md-right text-center">
                                        <a href="/forgot.html">Quên mật khẩu</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            <div class="col-md-3">
                <%- include('./comp/widget-right.ejs') -%>
            </div>
        </div>
    </main>
    <%- include('./layout/footer.ejs') -%>