<%- include('./layout/header.ejs') -%>
    <header>
        <%- include('./comp/nav.ejs') -%>
    </header>
    <main class="uk-container py-3">
        <div class="d-block mb-3">
            <div class="uk-alert-success my-0" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>
                    Giao dịch tự động trong vòng 5s qua Vietcombank 24/7
                    <br> (kể cả ban đêm & cuối tuần)
                </p>
            </div>
            <div class="uk-alert-warning my-0" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>
                    Giao dịch tự động trong vòng 5s qua Vietcombank 24/7
                    <br> (kể cả ban đêm & cuối tuần)
                </p>
            </div>
            <div class="uk-alert-danger my-0" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>
                    Giao dịch tự động trong vòng 5s qua Vietcombank 24/7
                    <br> (kể cả ban đêm & cuối tuần)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <%- include('./comp/widget-left.ejs') -%>
            </div>
            <div class="col-md-6">
                <%- include('./comp/form-sell-skrill.ejs') -%>
            </div>
            <div class="col-md-3">
                <%- include('./comp/widget-right.ejs') -%>
            </div>
        </div>
    </main>
    <%- include('./layout/footer.ejs') -%>